doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Lab1
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    body#bodyID
        form#formID(action="#")
            label#lbl(for="searchInp") Input city
            input#searchInp
            input#submit(type="submit" value="Submit")
        #graphWeather